{% extends 'base.html' %}
{% include 'header.html' %}
{% include 'sidebar.html' %}


{% block body %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-md-4">
                <canvas height="250" id="linechart"></canvas>
            </div>

            <div class="col-md-4">
                <canvas height="250" id="barchart"></canvas>
            </div>

            <div class="col-md-4">
                <canvas height="250" id="piechart"></canvas>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            const ctx1 = document.getElementById('piechart').getContext('2d');
            const myChart1 = new Chart(ctx1, {
                type: 'pie',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3], // Data on Y axis
                        borderWidth: 1
                    }]
                }
            });
        </script>
        <script>
            const ctx = document.getElementById('barchart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3], // Data on Y axis
                        borderWidth: 1
                    }]
                }
            });
        </script>
        <script>
            const ctx3 = document.getElementById('linechart').getContext('2d');
            const myChart3 = new Chart(ctx3, {
                type: 'line',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3], // Data on Y axis
                        borderWidth: 1
                    }]
                }
            });
        </script>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
<script src="/static/assets/js/pages/dashboard-sale.js"></script>

{% endblock javascripts %}
{% endblock %}