{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Home {% endblock %}


{% block body %}
<div class="container">

    <div class="row">
        <div class="col md-12">
            {% for row in employees %}
            <div class="jumbotron p-3">

                <table class="table table-hover table-dark" id="{{row.id}}">

                    <tr>

                        <th>ID</th>
                        <th>Device</th>
                        <th>Directory NO.</th>
                        <th>Phone MAC</th>
                        <th>User Directory</th>
                        <th>Password Directory</th>
                        <th>Display Name</th>
                        <th>Line 1</th>
                        <th>Line 2</th>

                    </tr>


                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.device}}</td>
                        <td>{{row.directory_no}}</td>
                        <td>{{row.phone_mac}}</td>
                        <td>{{row.user_directory}}</td>
                        <td>{{row.password_directory}}</td>
                        <td>{{row.display_name}}</td>
                        <td>{{row.line1}}</td>
                        <td>{{row.line2}}</td>


                    </tr>
                    {% endfor %}
                </table>
                <div class="flex justify-center">
                    <button class="flex justify-center text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                            type="button">
                        Confirm
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}