{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %} Excute {% endblock %}


{% block body %}
<h1 align="center">Excute Configuration Successfully Deployed!</h1>

<div class="grid justify-items-center box-decoration-clone hover:box-decoration-slice">

  <span class="grid justify-items-center bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900 h-56 grid grid-cols-3 gap-4 content-center mx-8">

</span>


</div>
{% endblock %}