{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %} Excute {% endblock %}


{% block body %}
<div class="flex justify-center overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="mb-8 space-y-4 text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">

        <tr>
            <th class="py-3 px-6" scope="col">
                ID
            </th>
            <th class="py-3 px-6 bg-gray-50 dark:bg-gray-800" scope="col">
                Device
            </th>
            <th class="py-3 px-6" scope="col">
                Platform
            </th>
            <th class="py-3 px-6 bg-gray-50 dark:bg-gray-800" scope="col">
                IP Address
            </th>
            <th class="py-3 px-6" scope="col">
                User Name
            </th>
            <th class="py-3 px-6" scope="col">
                Display Name
            </th>
            <th class="py-3 px-6" scope="col">
                Line 1
            </th>
            <th class="py-3 px-6" scope="col">
                Line 2

            </th>
        </tr>
        </thead>

        <tbody>


        <tr class="border-b border-gray-200 dark:border-gray-700">

            <th class="py-4 px-6"
                scope="row">
                {{ b_lines1[0] }}
            </th>
            <th class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800"
                scope="row">
                {{ b_lines2[2] }}
            </th>
            <td class="py-4 px-6">
                {{ b_lines2[1] }}
            </td>
            <td class="py-4 px-6 bg-gray-50 dark:bg-gray-800">
                {{ b_lines2[3] }}
            </td>
            <td class="py-4 px-6">
                {{ b_lines2[4] }}
            </td>

            <td class="py-4 px-6 bg-gray-50 dark:bg-gray-800">
                {{ b_lines1[4] }}
            </td>
            </td>
            <td class="py-4 px-6">
                {{ b_lines1[5] }}
            </td>
            <td class="py-4 px-6 bg-gray-50 dark:bg-gray-800">
                {{ b_lines1[6] }}
            </td>

            <td class="py-4 px-6">
                <a class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                   data-target="#modalexcute{{b_lines2[0]}}" data-toggle="modal" href="/excute/{{b_lines2[0]}}"
                   type="submit">Deploy
                    >> </a>
            </td>


        </tr>


        </tbody>
    </table>

</div>
<div class="modal fade" id="modalexcute{{b_lines2[0]}}" role="dialog">

    <div class="modal-dialog">


        <div class="modal-content">


            <div class="modal-header">


                <h4 class="modal-title">Excute Information</h4>


            </div>


            <div class="modal-body">

                <form action="{{url_for('resulted')}}" method="POST" role="form">


                    <div class="form-group">


                        <label>Platform:</label>
                        <input name="id_devicess" type="hidden" value="{{ b_lines2[0] }}">

                        <input class="form-control" name="platform" type="text"
                               value="{{ b_lines2[1] }}">

                        <label>Device Name:</label>

                        <input class="form-control" name="name_platform" type="text"
                               value="{{ b_lines2[2] }}">

                        <label>IP Address:</label>

                        <input class="form-control" name="ipaddress_platform" type="text"
                               value="{{ b_lines2[3] }}">

                        <label>User Name: </label>
                        <input class="form-control" name="username_platform" type="text"
                               value="{{ b_lines2[4] }}">

                        <label>Password:</label>
                        <input class="form-control" name="password_platform" type="text"
                               value="{{ b_lines2[5] }}">

                        <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                                type="submit">Deploy >>
                        </button>


                    </div>


                </form>

            </div>


        </div>


    </div>

</div>

{% with messages = get_flashed_messages() %}

{% if messages %}

{% for message in messages %}

<div class=" flex justify-center alert alert-success alert-dismissable" role="alert">

    <button aria-label="close" class="close" data-dismiss="alert" type="button">

        <span aria-hidden="true">x</span>

    </button>


    {{message}}

    <p class="text-gray-500 dark:text-gray-400"><a
            class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline"
            href="/resulted">
        Check Status And Configuration
        <svg aria-hidden="true" class="ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  fill-rule="evenodd"></path>
        </svg>
    </a></p>

</div>


{% endfor %}

{% endif %}
{% endwith %}

{% endblock %}