{% extends 'base.html' %}

{% block title %} Device Phone {% endblock %}


{% block body %}


<nav class="bg-gray-700 border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
        <a class="flex items-center" href="https://flowbite.com">
            <img alt="Flowbite Logo" class="h-6 mr-3 sm:h-9" src="https://flowbite.com/docs/images/logo.svg"/>
            <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Flowbite</span>
        </a>
        <div class="flex items-center">
            <a class="mr-6 text-sm font-medium text-white-500 text-white hover:underline" href="tel:5541251234">(555)
                412-1234 |</a>
            <a class="text-sm font-medium text-white-600 dark:text-white-500 hover:underline text-white" href="/login">Login</a>
        </div>
    </div>
</nav>
<nav class="bg-gray-700 border-gray-200 dark:bg-gray-900">
    <div class="bg-gray-600 border-gray-200 dark:bg-gray-900 max-w-screen-xl px-4 py-3 mx-auto md:px-6">
        <div class="flex items-center">
            <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
                <li>
                    <a aria-current="page" class="text-gray-900 dark:text-white hover:underline text-white" href="#">Home</a>
                </li>
                <li>
                    <a class="text-gray-900 dark:text-white hover:underline text-white" href="#">Company</a>
                </li>
                <li>
                    <a class="text-gray-900 dark:text-white hover:underline text-white" href="#">Team</a>
                </li>
                <li>
                    <a class="text-gray-900 dark:text-white hover:underline text-white" href="#">Features</a>
                </li>
            </ul>
        </div>
    </div>
</nav>




{% endblock %}