{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Home {% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">

                <h2>Manage <b>Phone Device </b>
                    <button class="inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out float-right"
                            data-target="#mymodal"
                            data-toggle="modal" type="button">Add New Phone Device
                    </button>
                </h2>
                <br/>


                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">

                    <button aria-label="close" class="close" data-dismiss="alert" type="button">

                        <span aria-hidden="true">x</span>

                    </button>


                    {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}


                <table class="table table-hover table-dark">

                    <tr>

                        <th>ID</th>
                        <th>Device</th>
                        <th>Directory NO.</th>
                        <th>Phone MAC</th>
                        <th>User Directory</th>
                        <th>Password Directory</th>
                        <th>Display Name</th>
                        <th>Line 1</th>
                        <th>Line 2</th>

                    </tr>


                    {% for row in employees %}
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.device}}</td>
                        <td>{{row.directory_no}}</td>
                        <td>{{row.phone_mac}}</td>
                        <td>{{row.user_directory}}</td>
                        <td>{{row.password_directory}}</td>
                        <td>{{row.display_name}}</td>
                        <td>{{row.line1}}</td>
                        <td>{{row.line2}}</td>

                        <td>
                            <a class="btn btn-warning btn-xs" data-target="#modaledit{{row.id}}" data-toggle="modal"
                               href="/update/{{row.id}}">Edit</a>
                            <a class="btn btn-danger btn-xs" href="/delete/{{row.id}}"
                               onclick="return confirm('Are You Sure To Delete ?')">Delete</a>

                            <a class="btn btn-info btn-xs" data-target="#modalexcute{{row.id}}" data-toggle="modal"
                               href="/excute/{{row.id}}">Excute</a>


                        </td>

                    </tr>


                    <!-- Modal Edit Employee-->
                    <div class="modal fade" id="modaledit{{row.id}}" role="dialog">
                        <div class="modal-dialog">


                            <div class="modal-content">


                                <div class="modal-header">


                                    <h4 class="modal-title">Update Information</h4>


                                </div>


                                <div class="modal-body">


                                    <form action="{{url_for('update')}}" method="POST">


                                        <div class="form-group">


                                            <label>Device:</label>
                                            <input name="id" type="hidden" value="{{row.id}}">

                                            <input class="form-control" name="device" type="text"
                                                   value="{{row.device}}">


                                        </div>


                                        <div class="form-group">


                                            <label>Directory NO.:</label>

                                            <input class="form-control" name="directory_no" type="text"
                                                   value="{{row.directory_no}}">


                                        </div>


                                        <div class="form-group">


                                            <label>Phone MAC:</label>

                                            <input class="form-control" name="phone_mac" type="text"
                                                   value="{{row.phone_mac}}">


                                        </div>

                                        <div class="form-group">

                                            <label>User Directory: </label>
                                            <input class="form-control" name="user_directory" type="text"
                                                   value="{{row.user_directory}}">

                                        </div>

                                        <div class="form-group">

                                            <label>Password Directory:</label>
                                            <input class="form-control" name="password_directory" type="text"
                                                   value="{{row.passwprd_directory}}">

                                        </div>

                                        <div class="form-group">

                                            <label> Display Name:</label>
                                            <input class="form-control" name="display_name" type="text"
                                                   value="{{row.display_name}}">
                                        </div>

                                        <div class="form-group">

                                            <label>Line 1:</label>
                                            <input class="form-control" name="line1" type="text" value="{{row.line1}}">
                                        </div>

                                        <div class="form-group">

                                            <label>Line 2:</label>
                                            <input class="form-control" name="line2" type="text" value="{{row.line2}}">
                                        </div>


                                        <div class="form-group">


                                            <button class="btn btn-primary" type="submit">Update</button>


                                        </div>


                                    </form>


                                </div>


                                <div class="modal-footer">


                                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>


                                </div>


                            </div>


                        </div>

                    </div>

                    <div class="modal fade" id="modalexcute{{row.id}}" role="dialog">
                        <div class="modal-dialog">


                            <div class="modal-content">


                                <div class="modal-header">


                                    <h4 class="modal-title">Excute Information</h4>


                                </div>


                                <div class="modal-body">

                                    <form action="{{url_for('excute')}}" class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label>Device:</label>
                                            <input aria-label="disabled input"
                                                   class="mb-6 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                   disabled id="disabled-input" type="text" value="{{row.device}}">
                                            <label>Directory NO.:</label>
                                            <input aria-label="disabled input"
                                                   class="mb-6 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                   disabled id="disabled-input" type="text"
                                                   value="{{row.directory_no}}">
                                            <label>Phone MAC:</label>
                                            <input aria-label="disabled input"
                                                   class="mb-6 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                   disabled id="disabled-input" type="text" value="{{row.phone_mac}}">
                                            <label>User Directory:</label>
                                            <input aria-label="disabled input"
                                                   class="mb-6 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                   disabled id="disabled-input" type="text"
                                                   value="{{row.user_directory}}">
                                            <label>Password Directory:</label>
                                            <input aria-label="disabled input"
                                                   class="mb-6 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                   disabled id="disabled-input" type="text"
                                                   value="{{row.password_directory}}">
                                            <label>Display Name:</label>
                                            <input aria-label="disabled input"
                                                   class="mb-6 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                   disabled id="disabled-input" type="text"
                                                   value="{{row.display_name}}">
                                            <label>Line 1:</label>
                                            <input aria-label="disabled input"
                                                   class="mb-6 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                   disabled id="disabled-input" type="text" value="{{row.line1}}">
                                            <label>Line 2:</label>
                                            <input aria-label="disabled input"
                                                   class="mb-6 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                   disabled id="disabled-input" type="text" value="{{row.line2}}">


                                        </div>
                                        <div class="modal-footer">


                                            <button class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                                                    type="submit">Confirm & Excute
                                            </button>


                                        </div>

                                    </form>


                                </div>


                            </div>


                        </div>

                    </div>


                    {% endfor %}


                </table>


            </div>


        </div>


        <!-- Modal Add Employee-->


        <div class="modal fade" id="mymodal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                            <h4 class="modal-title">Add Phone Device</h4>
                        </div>
                        <div class="modal-body">


                            <form action="{{url_for('insert')}}" method="POST">
                                <div class="grid gap-6 mb-6 md:grid-cols-2">
                                    <div>
                                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                               for="device">Device</label>

                                        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                id="device" name="device">
                                            <option selected>Choose a Platform</option>
                                            <option value="3945">3945</option>
                                            <option value="3845">3845</option>
                                            <option value="2911">2911</option>
                                            <option value="2811">2811</option>
                                        </select>

                                    </div>
                                    <div>
                                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                               for="directory_no">Directory Number</label>
                                        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                               id="directory_no" name="directory_no" placeholder="Directory Number"
                                               required type="text">
                                    </div>
                                    <div>
                                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                               for="phone_mac">Phone MAC</label>
                                        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                               id="phone_mac" name="phone_mac" placeholder="Phone MAC" required
                                               type="text">
                                    </div>
                                    <div>
                                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                               for="user_directory">User Directory</label>
                                        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                               id="user_directory" name="user_directory" placeholder="user directory"
                                               required type="text">
                                    </div>
                                    <div>
                                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                               for="password_directory">Password Directory</label>
                                        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                               id="password_directory" name="password_directory" placeholder="password"
                                               required type="text">
                                    </div>
                                    <div>
                                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                               for="display_name">Display Name</label>
                                        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                               id="display_name" name="display_name" placeholder="" required
                                               type="text">
                                    </div>
                                </div>
                                <div class="mb-6">
                                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                           for="line1">Line 1</label>
                                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                           id="line1" name="line1" placeholder="line1" required type="text">
                                </div>
                                <div class="mb-6">
                                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                           for="line2">Line 2</label>
                                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                           id="line2" name="line2" placeholder="line 2" required type="password">
                                </div>


                                <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                        type="submit">Save
                                </button>
                            </form>


                        </div>


                        <div class="float-right">

                            <button class="inline-block px-6 py-2.5 bg-gray-200 text-gray-700 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out float-right"
                                    data-dismiss="modal" type="button">Close
                            </button>


                        </div>


                    </div>


                </div>


            </div>


        </div>


    </div>


{% endblock %}